/* line 5, ../../../../.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 9, ../sass/style.scss */
html {
  font-size: 62.5%;
}
/* line 11, ../sass/style.scss */
html body {
  background-color: #44515F;
  margin: 0 auto;
}
/* line 14, ../sass/style.scss */
html body h1 {
  text-align: center;
  color: white;
  font-size: 2.5em;
  font-weight: 500;
  font-family: sans-serif;
}
/* line 22, ../sass/style.scss */
html body h2 {
  text-align: center;
  color: white;
  font-size: 15px;
  font-weight: 300;
  font-family: sans-serif;
}
/* line 29, ../sass/style.scss */
html body .container {
  width: 90%;
  margin: auto;
  padding-top: 55px;
}
/* line 33, ../sass/style.scss */
html body .container .menu {
  width: 100%;
  height: 30px;
  background-color: #F1F0ED;
  border-radius: 10px 10px 0 0;
  padding-top: 10px;
}
/* line 39, ../sass/style.scss */
html body .container .menu .ball {
  height: 16px;
  width: 16px;
  /*border-radius: 8px 8px 8px 8px;*/
  border-radius: 50%;
  float: left;
  margin: 2px;
}
/* line 47, ../sass/style.scss */
html body .container .menu .red {
  background-color: red;
  margin-left: 13px;
}
/* line 51, ../sass/style.scss */
html body .container .menu .yellow {
  background-color: orange;
}
/* line 54, ../sass/style.scss */
html body .container .menu .green {
  background-color: green;
}
/* line 58, ../sass/style.scss */
html body .container .header {
  width: 100%;
  height: 500px;
  background-image: url(../res/pic1.jpg);
  margin: auto;
  background-repeat: no-repeat;
  /*background-position: center top;*/
}
/* line 66, ../sass/style.scss */
html body .container .header .topheader {
  width: 100%;
  text-align: center;
  font-family: sans-serif;
}
/* line 70, ../sass/style.scss */
html body .container .header .topheader div {
  float: right;
}
/* line 74, ../sass/style.scss */
html body .container .header .topheader:after {
  content: "";
  display: block;
  clear: both;
}
/* line 79, ../sass/style.scss */
html body .container .header .topheader .top-text {
  color: #F1F0ED;
  margin: 10px;
  font-size: 15px;
  padding: 4px;
}
/* line 86, ../sass/style.scss */
html body .container .header .topheader .signup {
  border: 1px solid;
}
/* line 93, ../sass/style.scss */
html body .container .header .title h1 {
  width: 100%;
  text-align: center;
  margin-top: 4em;
}
/* line 100, ../sass/style.scss */
html body .container .center-form {
  text-align: center;
  margin-top: -30em;
}
/* line 104, ../sass/style.scss */
html body .container .center-form input[type='text'] {
  width: 250px;
  height: 20px;
}
/* line 108, ../sass/style.scss */
html body .container .center-form input[type='button'] {
  background: Gainsboro;
  height: 27px;
  width: 80px;
}
